# 바이트코드 파일
__pycache__/
*.py[cod]
*$py.class

# 가상 환경
venv/
env/
ENV/

# 환경 변수 및 설정 (비밀번호, API 키)
.env

# 배포 및 빌드 결과물
build/
dist/
*.egg-info/

# IDE 설정 (VSCode, PyCharm 등)
.vscode/
.idea/

# 테스트 파일
test.py